# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
*.json
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
cis550_project/
venv/
ENV/
env/
.venv/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Poetry specific files
poetry.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE related files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
*.iml
*.iws
*.ipr

# Data files
sec_sp500_data.csv
yahoo_sp500_stock_data_10_years_monthly.csv
